@charset "UTF-8";

:root {
	--cor-principal: #F4750F;
	--cor-secundaria: #FAA517;
	--cor-terciaria: #DB740D;
	--cor-quartenaria: #F2911B;
}

*{

	/*height: 100%;*/
	padding: 0px;
	margin: 0px;
}

html, body {
	min-height: 100%vh;
}

body {
	background-image: linear-gradient(-45deg, #FAA517,#F2911B, #DB740D, #F4750F);
	/*background: #F2911B url('../imagens/fundo_academia1.png') center center no-repeat fixed;
	background-image: url('../imagens/fundo_academia1.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	background-size:cover;
	color: rgba(0, 0, 0, 0.938);
	/*max-width: 1050;*/
	font-family: "Brush Script MT", cursive;
	text-align: justify;
	}

/* Formatação do menu */
nav {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.842);
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0px;
	display: inline;
	
}

nav ul li{
	border-bottom: 1px solid var(--cor-secundaria);
	display: inline;
	
}

nav ul li a {
	color: #FFF;
	padding: 10px;
	display: block;
	text-decoration: none;
	transition: background .3s;
	font-variant: small-caps;
	display: inline-block;
	
}

nav ul li a:hover {
	background-color: rgba(255, 255, 255, 0.452);
	
}
nav#menu a:hover{
	color: #ffffff;
	
}

nav ul li:last-child {
	float: right;
	text-decoration: none;
}

nav img {
	width: 100px;
	padding: 5px;
	margin: 0px;
	float: left;
}

/* Formatação do corpo */
main{
	background-color: white;
	width: 100%vh;
	margin: auto;
	padding: 0px 5px 0px 5px;
}

main h1 {
	/*background-image: linear-gradient(to right, #F4750F, transparent);*/
	background-color: var(--cor-secundaria);
	padding-left: 1.5vh;
}

section p{
	padding: 0vh 1.5vh 5vh 1.5vh;
}
section.corpo{
	background-color: white;
	color: black;
}



section.imagem{
	background-image: url('../imagens/fundo_academia2.jpg');
	background-position: left center;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
}
/* Formatação do rodape */
footer{
	background-color: none;
	margin: auto;
	padding: 5px;
}